h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

h1 {
  font-size: 175%;
  text-transform: none;
  margin: 0 0 1em 0;
}

h2 {
  font-size: 137.5%;
  line-height: 125%;
  text-transform: none;
  font-family: "Flexo-Medium", arial, sans-serif;
  margin: 0.75em 0;
}

body h2 h3 h4 h5 h6 {
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
}

h3,
h4,
h5,
h6 {
  font-size: 125%;
  line-height: 125%;
  text-transform: none;
  margin: 0.5em 0;
  font-family: "Flexo-Medium", arial, sans-serif;
}

p {
  color: #919191;
  font-family: "Roboto", arial, sans-serif;
  font-size: 100%;
  font-weight: 500;
  line-height: 125%;
  margin: 0.5em 0;
}

ul {
  list-style-type: none;
}
